@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Ubuntu Mono", monospace;
  box-sizing: border-box;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9em;
}

.container {
  font-size: 1.5rem;
  color: #58636d;
}

h1 {
  color: #2c3e50;
}

p,
label {
  color: #58636d;
  font-size: 1.2rem;
}

.input-box {
  border: none;
  font-size: 1.2rem;
  padding: 8px 0;
  border-radius: 18px;
  color: #30363b;
  background-color: #d5dbdb;
  width: 35ch;
  font-family: inherit;
}

button {
  color: #ffffff;
  background-color: #d5dbdb;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

button img {
  width: 1.2ch;
}

#generate {
  margin: 0;
}

.range-slider {
  margin: 1em 0;
}

.slider {
  width: 50ch;
  border: solid 1px #34495e;
  background-color: #d5dbdb;
  -webkit-appearance: none;
  height: 4px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 10px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #34495e;
  cursor: pointer;
  border-radius: 50px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #34495e;
  cursor: pointer;
}

.top-section {
  margin: 5px 0;
  padding: 0.6em;
  background-color: #d5dbdb;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input:focus {
  outline: none;
}

.select-section {
  color: #2b3c4d;
}

.customize-pass {
  margin-top: 1em;
}

#custom {
  color: #34495e;
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 0.5em;
}

.checkbox {
  accent-color: #cacfcf;
  vertical-align: middle;
}

input[type="checkbox"] {
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  padding: 10px;
}

input[type="checkbox"]:hover {
  accent-color: #a0a3a3;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
}

footer p,
p a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #30363b;
}

@media only screen and (max-width: 800px) {
  body {
    margin-top: 12em;
  }

  .container {
    font-size: 1rem;
    width: 85%;
  }

  .description {
    font-size: inherit;
  }

  .input-box {
    width: 24ch;
    font-size: inherit;
  }

  .slider {
    width: 80%;
  }

  .top-section {
    width: 100%;
  }

  label {
    font-size: 0.6rem;
  }
}
