@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #eaeaea;
  padding: 10% 10%;
  font-size: 1.5rem;
  color: #58636d;
}

h1 {
  color: #2c3e50;
}

p,
label {
  color: #58636d;
  font-size: 1.2rem;
}

.checkbox {
  accent-color: #d5dbdb;
}

.pass-generator-reset-section input {
  border: none;
  font-size: 1.2rem;
  padding: 6px 8px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #30363b;
  width: 400px;
  margin-right: 5px;
}

button {
  color: #ffffff;
  background-color: #34495e;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  margin: 5px 5px 5px 0;
}

button:hover {
  background-color: #2e4255;
}

button:active {
  background-color: #2b3c4d;
}

.pass-generator-reset-section {
  display: flex;
  align-items: center;
}

input {
  background-color: #d5dbdb;
}

#input-length {
  height: 3ch;
  width: 5ch;
  border: solid 1px #2c3e50;
  border-radius: 3px;
  background-color: #d5dbdb;
}

@media only screen and (max-width: 800px) {
  body {
    margin-top: 3em;
    font-size: 1rem;
  }

  .pass-generator-reset-section input {
    font-size: inherit;
  }

  .description {
    font-size: inherit;
  }

  input,
  button {
    display: block;
    font-size: inherit;
  }

  .btn-section button {
    display: inline-block;
  }
}
